{% extends 'partials/base.html.twig' %}

{% block content %}
<section id="content">
	<div class="container_24">
		<div class="grid_24" style="text-align: center; font-size: 30px;">
			<h1 style="float: none;">{{ 'ERROR'|t }} {{ page.header.http_response_code }}</h1>
			<br>
			<p>
				{{ page.content }}
			</p>
		</div>
	</div>
</section>
{% endblock %}
