{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content }}
					<div class="grid_6 omega">
						<h2 class="ident-bot-3"> Job Posting</h2>
						<div class="line ident-bot-5"></div>
						<div class="ident-bot-5">
							<!--<p class="ident-bot-9">There are currently no positions.</p>-->
							<!--There are currently no job postings.-->
							<ul class="list-2">
								<!--There are currently no job postings.-->
								<li><a href="/jobs/registered-nurse-prepost" target="_self">Registered Nurse - Pre-Operative / Post Anastesia Care Unit (PACU)</a></li>
								<li><a href="/jobs/registered-nurse-or" target="_self">Registered Nurse - Operating Room</a></li>
								<li><a href="/jobs/rn-clinical-manager" target="_self">RN Clinical Manager</a></li>
							</ul>
						</div>
						<div class="ident-bot-5">
							<h2 class="ident-bot-3">&nbsp;</h2>
						</div>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
