{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content }}
					<div class="grid_6 omega">
						<h2 class="ident-bot-3"> Job Posting</h2>
						<div class="line ident-bot-5"></div>
						<div class="ident-bot-5">
							{% if (sizeof(page.find('/jobs').children)) == 0 %}
								<p class="ident-bot-9">There are currently no positions.</p>
							{% else %}
								<ul class="list-2">
									{% for p in page.find('/jobs').children %}
										<li><a href="{{p.url}}" target="_self">{{ p.title }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
						<div class="ident-bot-5">
							<h2 class="ident-bot-3">&nbsp;</h2>
						</div>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
