{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content }}
						<div class="grid_{% if header.grid %}{{ header.grid }}{% else %}7{% endif %} omega">
						<h2 class="ident-bot-3">PATIENT INFORMATION</h2>
						<div class="line ident-bot-14"></div>
						<div class="rt-inner-ident-3">
							<p class="tetx-2 ident-bot-9"></p>
							<ul class="list-1">
								{% for p in page.find('/patients').children %}
									<li><a href="{{ p.url }}"{% if p.template == 'external' %} target="_blank"{% endif %}>{{ p.title }}</a></li>
								{% endfor %}
                            </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
